<ion-view view-title="Home">
<ion-content >
 <div class="list">
            <a class="item item-avatar" href="#page">
              <img src="img/1.jpg">
              <h2>Trump has his own star on the Hollywood... </h2>
              <p>part from being a businessman and politician....</p>
            </a>
            <a class="item item-avatar" href="#page1">
              <img src="img/2.jpg">
              <h2>In 1999, Trump proposed a one-time tax of</h2>
              <p>Trump said that according to his calculations,</p>
            </a>
            <a class="item item-avatar" href="#page2">
              <img src="img/3.gif">
              <h2>Trump’s hair is real. He gets his haircuts</h2>
              <p>Trump has many attention-grabbing traits, and his hairstyle</p>
            </a>
            <a class="item item-avatar" href="#page3">
              <img src="img/4.gif">
              <h2>Trump was a registered Democrat between 2001</h2>
              <p>Trump has been thinking about being in the politics since</p>
            </a>
            <a class="item item-avatar" href="#page4">
              <img src="img/5.jpg">
              <h2>SPY Magazine once sent some of the world’s r</h2>
              <p>Published between the years 1986 and 1998, Spy Magazine was a sat</p>
            </a>
            <a class="item item-avatar" href="#page5">
              <img src="img/6.jpg">
              <h2>Trump once tried to trademark the phrase “You’re fired!”</h2>
              <p>Trump is closely associated with a reality TV show called The App</p>
            </a>
            <a class="item item-avatar" href="#page6">
              <img src="img/7.jpg">
              <h2>Trump is one of the least charitable billionaires in the </h2>
              <p>The World Wrestling Entertainment gave a total of $5 million to Trump’s foundation</p>
            </a>
            <a class="item item-avatar" href="#page7">
              <img src="img/8.jpg">
              <h2>Donald Trump tried to sue an author for $5,</h2>
              <p>In 2009, Trump filed a lawsuit against the author of the book</p>
            </a>
            <a class="item item-avatar" href="#page8">
              <img src="img/9.gif">
              <h2>Trump dislikes shaking hands with other </h2>
              <p>It isn’t just the hands of other people that Trump</p>
            </a>
            <a class="item item-avatar" href="#page9">
              <img src="img/10.jpg">
              <h2>The character Biff Tannen from the Back to the Future </h2>
              <p>In the trilogy, Biff Tannen, portrayed by actor Thomas F. Wilson, is a towering, viol</p>
            </a>
            <a class="item item-avatar" href="#page10">
              <img src="img/11.jpg">
              <h2>In 1990, Trump threatened to sue the stock broker firm Ja</h2>
              <p>Marvin Roffman, a veteran securities analyst focused o</p>
            </a>
            <a class="item item-avatar" href="#page11">
              <img src="img/12.jpg">
              <h2>The companies owned by Trump filed for bankruptcy </h2>
              <p>All the four bankruptcies filed were related to over-leveraged Trump’s hote</p>
            </a>
            <a class="item item-avatar" href="#page12">
              <img src="img/13.gif">
              <h2>Trump played a cameo in Home Alone 2: Lo</h2>
              <p>In the movie, there is a scene in which the character Kevin McC</p>
            </a>
            <a class="item item-avatar" href="#page13">
              <img src="img/14.jpg">
              <h2>Donald Trump once tried to stop the building of a windfa</h2>
              <p>Trump has repeatedly threatened to use his financial pow</p>
            </a>
            <a class="item item-avatar" href="#page14">
              <img src="img/15.jpg">
              <h2>In 2012, Trump banned Glenfiddich whiskey company </h2>
              <p>Michael Forbes, the closest resident to Trump’s golf course, won the</p>
            </a>
            <a class="item item-avatar" href="#page15">
              <img src="img/16.jpg">
              <h2>Between 1996 and 2015, Trump owned part or all of the Miss</h2>
              <p>When Trump sold his interests, Trump owned the beauty pageants and when h</p>
            </a>
            <a class="item item-avatar" href="#page16">
              <img src="img/17.jpg">
              <h2>Atlantic City, New Jersey, once tried to give the home of </h2>
              <p>The husband of the retired homeowner of Atlantic C</p>
            </a>
            <a class="item item-avatar" href="#page17">
              <img src="img/18.gif">
              <h2>Trump has been sued 3,500 times by his business</h2>
              <p>Among the 3,500 legal cases that Donald Trump was involved in over</p>
            </a>
    </div>
</ion-content>
</ion-view>