<ion-view view-title="Fact 7">
    <ion-content>
        <div class="list card">

        <div class="item item-avatar">
            <img src="img/7.jpg">
            <h2>Trump is one of the least charitable billionaires</h2>
            <p>The World Wrestling Entertainment gave a total of $5 million to Trump’s foundation,</p>
        </div>

        <div class="item item-body">
            <img class="full-image" src="img/7.jpg">
            <h2>Trump is one of the least charitable billionaires in the world and donated $3.7 million to his own charity over a period of 20 years, which is less than what WWE donated to his charity in 2007 alone. </h2>            
            <p>
            The World Wrestling Entertainment gave a total of $5 million to Trump’s foundation, $4 million for his help in promoting that year’s WrestleMania festivities in 2007 and $1 million for when he was going to buy part of the WWE empire in 2009. Compared to many other billionaire tycoons such as Bill Gates, Warren Buffett or Michael Bloomberg, Trump’s contributions to charity are unbelievably small. Bloomberg’s contributions in 2008 alone totaled $235 million, Larry Ellison’s $73.2 million, and Johnny Carson left his charitable foundation $156 million.
            </p>
        </div>

        </div>
    </ion-content>
</ion-view>