<ion-view view-title="Fact 10">
    <ion-content>
        <div class="list card">

        <div class="item item-avatar">
            <img src="img/10.jpg">
            <h2>The character Biff Tannen from the Back to the Future trilogy was based on Donald Trump.</h2>
            <p>In the trilogy, Biff Tannen, portrayed by actor Thomas F. Wilson,</p>
        </div>

        <div class="item item-body">
            <img class="full-image" src="img/10.jpg">
            <h2>The character Biff Tannen from the Back to the Future trilogy was based on Donald Trump.</h2>            
            <p>
            In the trilogy, Biff Tannen, portrayed by actor Thomas F. Wilson, is a towering, violent and selfish bully who intimidates and cheats to get what he wants. Recently, after renewed interest in Back to the Future II, numerous commentators noted similarities between the older version of Biff Tannen and Donald Trump. When the writer Bob Gale was asked about these similarities, he replied that they were intentional and that the character was indeed based on Donald Trump, who was already well-known in the late 1980s for his real estate business.
            </p>
        </div>

        </div>
    </ion-content>
</ion-view>