        <ion-view view-title="Fact 18">
    <ion-content>
        <div class="list card">

        <div class="item item-avatar">
            <img src="img/18.gif">
            <h2>Trump has been sued 3,500 times by his business partners,</h2>
            <p>Among the 3,500 legal cases that Donald Trump was involved</p>
        </div>

        <div class="item item-body">
            <img class="full-image" src="img/18.gif">
            <h2>Trump has been sued 3,500 times by his business partners, contractors, clients, employees and banks. </h2>            
            <p>
            Among the 3,500 legal cases that Donald Trump was involved in over the last three decades, 1,900 were against Trump or one of his companies, in 1,450 of them they were defendants, 150 of them were about bankruptcy and other cases. Also, Trump was named in at least 169 lawsuits in the federal court. There were also several other cases in a court in Florida since 1983. The topics of these cases include contract disputes, defamation claims, allegations of sexual harassment and rape, and tax disputes, with the New York State Department of Taxation and Finance obtaining tax liens against his properties for nonpayment of taxes.
            </p>
        </div>

        </div>
    </ion-content>
</ion-view>