<ion-view view-title="Fact 12">
    <ion-content>
        <div class="list card">

        <div class="item item-avatar">
            <img src="img/12.jpg">
            <h2>The companies owned by Trump filed for bankruptcy four different times. </h2>
            <p>All the four bankruptcies filed were related to over-leveraged Trump’s hotel</p>
        </div>

        <div class="item item-body">
            <img class="full-image" src="img/12.jpg">
            <h2>The companies owned by Trump filed for bankruptcy four different times. </h2>            
            <p>
            All the four bankruptcies filed were related to over-leveraged Trump’s hotel and casino properties in Atlantic City operated under the name Trump Entertainment Resorts, during the years 1991, 1992, 2004 and 2009. Despite these four bankruptcies, Trump emerged a billionaire, perhaps owing to the fact that he never filed personal bankruptcy. Instead, it was the corporations, limited partnerships and LLCs in which he had ownership interests or the companies that had his name attached that filed for bankruptcy.
            </p>
        </div>

        </div>
    </ion-content>
</ion-view>