<ion-view view-title="Fact 6">
    <ion-content>
        <div class="list card">

        <div class="item item-avatar">
            <img src="img/6.jpg">
            <h2>Trump once tried to trademark the phrase “You’re fired!”</h2>
            <p>Trump is closely associated with a reality TV show called The Apprentice</p>
        </div>

        <div class="item item-body">
            <img class="full-image" src="img/6.jpg">
            <h2>Trump once tried to trademark the phrase “You’re fired!”</h2>            
            <p>
            Trump is closely associated with a reality TV show called The Apprentice in which the contestants take part in challenges in order to get a chance to work under American billionaires. In the show, Trump dismisses some of the contestants using the phrase “You’re fired!”, which he intended to use in his games and casinos. The game he released called “Trump, the Game” has a tag that says “I’m back and you’re fired!” According to US Patent and Trademark Office website, he even filed a trademark application for the phrase.
            </p>
        </div>

        </div>
    </ion-content>
</ion-view>