<ion-view view-title="Fact 15">
    <ion-content>
        <div class="list card">

        <div class="item item-avatar">
            <img src="img/15.jpg">
            <h2>In 2012, Trump banned Glenfiddich whiskey company </h2>
            <p>Michael Forbes, the closest resident to Trump’s golf course,</p>
        </div>

        <div class="item item-body">
            <img class="full-image" src="img/15.jpg">
            <h2>In 2012, Trump banned Glenfiddich whiskey company because it sponsored the Top Scot award, which was given to his arch critic and neighbor, Michael Forbes, who refused to vacate his land to make way for Trump’s golf course.</h2>            
            <p>
            Michael Forbes, the closest resident to Trump’s golf course, won the Top Scot award after a public vote, beating the Olympic tennis gold medalist Andy Murray. Trump criticized it and said that he has banned every brand of whiskey sold by William Grant & Sons from his resorts and hotels because their leading brand Glenfiddich sponsored the ceremony. He even went on to say that the decision was an insult to both Andy Murray and Scotland itself, and that the distillers in question are jealous of his own inhouse single malt whiskey brand. Addressing Trump’s allegation that the voting was fixed, the company said that it had nothing to do with the voting and that Glenfiddich has been sponsoring for 15 years now.
            </p>
        </div>

        </div>
    </ion-content>
</ion-view>