<ion-view view-title="Fact 1">
    <ion-content>
        <div class="list card">

        <div class="item item-avatar">
            <img src="img/1.jpg">
            <h2>Trump has his own star on the Hollywood Walk</h2>
            <p>Apart from being a businessman and politician, Trump is also a television personality.</p>
        </div>

        <div class="item item-body">
            <img class="full-image" src="img/1.jpg">
            <h2>Trump has his own star on the Hollywood Walk of Fame which he received for the reality TV show The Apprentice.</h2>            
            <p>
            Apart from being a businessman and politician, Trump is also a television personality. He produced, participated and appeared as cameos in many films and television shows. In 2003, he also became the executive producer and host of the NBC reality show called The Apprentice and later acted as host for another similar show called The Celebrity Apprentice. He hosted The Apprentice for 14 seasons, earning as much as $1 million per episode, and in 2007 received a star on the Hollywood Walk of Fame for his contribution to television.
            </p>
        </div>

        </div>
    </ion-content>
</ion-view>