<ion-view view-title="Fact 9">
    <ion-content>
        <div class="list card">

        <div class="item item-avatar">
            <img src="img/9.gif">
            <h2>Trump dislikes shaking hands with other people and is a self-professed germophobe. </h2>
            <p>It isn’t just the hands of other people that Trump doesn’t want to touch,</p>
        </div>

        <div class="item item-body">
            <img class="full-image" src="img/9.gif">
            <h2>Trump dislikes shaking hands with other people and is a self-professed germophobe. </h2>            
            <p>
            It isn’t just the hands of other people that Trump doesn’t want to touch, but everything that is touched or used by anyone else. He doesn’t even like to push the ground floor elevator button because it would have been pushed my many people. And apparently, he specifically avoids touching the hands of teachers because they are very likely to have been in physical contact with kids.
            </p>
        </div>

        </div>
    </ion-content>
</ion-view>