<ion-view view-title="Fact 5">
    <ion-content>
        <div class="list card">

        <div class="item item-avatar">
            <img src="img/5.jpg">
            <h2>SPY Magazine once sent some of the world’s richest people</h2>
            <p>Published between the years 1986 and 1998, Spy Magazine was a satirical magazine,</p>
        </div>

        <div class="item item-body">
            <img class="full-image" src="img/5.jpg">
            <h2>SPY Magazine once sent some of the world’s richest people checks of 13 cents to see who would cash them. The only people to do so were an arms dealer and Donald Trump.</h2>            
            <p>
            Published between the years 1986 and 1998, Spy Magazine was a satirical magazine, whose writers had an interesting idea to prank the rich in 1990. So they created a fully funded and incorporated company called National Refund Clearinghouse and opened a checking account. Then they sent a check of $1.11 to 58 well-known people such as Cher, Henry Kissinger and Donald Trump. Of the 58, only 26 cashed the check. They repeated the experiment with $0.64 to these 26 people, and only 13 of them cashed. Then they sent these 13 people checks for $0.13, and this time it was only 2 people – a Saudi Arabian arms dealer called Adnan Khashoggi and, of course, Donald Trump.
            </p>
        </div>

        </div>
    </ion-content>
</ion-view>