<ion-view view-title="Fact 11">
    <ion-content>
        <div class="list card">

        <div class="item item-avatar">
            <img src="img/11.jpg">
            <h2>In 1990, Trump threatened to sue the stock broker firm Janney Montgomery </h2>
            <p>Marvin Roffman, a veteran securities analyst focused on the gaming industry</p>
        </div>

        <div class="item item-body">
            <img class="full-image" src="img/11.jpg">
            <h2>In 1990, Trump threatened to sue the stock broker firm Janney Montgomery Scott after an analyst said Trump Taj Mahal wouldn’t survive financially. The analyst was fired for it and later the same year Taj Mahal declared bankruptcy.</h2>            
            <p>
            Marvin Roffman, a veteran securities analyst focused on the gaming industry in Atlantic City, told a reporter from the Wall Street Journal that the lavish and financially shaky nature of Trump’s third casino Trump Taj Mahal would fail. In reaction to that Trump threatened to sue his employer and demanded that Roffman be fired. Roffman stood by his assessment and three days after the the Journal was out he was fired. Roffman later filed a lawsuit against Trump for using intimidation and forceful warnings of litigation, and had a clear victory.
            </p>
        </div>

        </div>
    </ion-content>
</ion-view>