<ion-view view-title="Fact 4">
    <ion-content>
        <div class="list card">

        <div class="item item-avatar">
            <img src="img/4.gif">
            <h2>Trump was a registered Democrat between 2001 and 2009.</h2>
            <p>Apart from being a businessman and politician, Trump is also a television personality.</p>
        </div>

        <div class="item item-body">
            <img class="full-image" src="img/4.gif">
            <h2>Trump was a registered Democrat between 2001 and 2009.</h2>            
            <p>
            Trump has been thinking about being in the politics since as far back as 1987, when he enrolled as a Republican with the Board of Elections. In 1999, he changed to the Independence Party because he was thinking of running for President as a Reform Party candidate in 2000. Again in August 2001, he made another switch to being a Democrat, because he has many friends who are Democrats and that most of the politicians he knew are Democrats. In 2009, he again switched back to being a Republican stating that Republican Party is where his heart is.
            </p>
        </div>

        </div>
    </ion-content>
</ion-view>