<ion-view view-title="Fact 8">
    <ion-content>
        <div class="list card">

        <div class="item item-avatar">
            <img src="img/8.jpg">
            <h2>Donald Trump tried to sue an author for $5,000,000,000</h2>
            <p>In 2009, Trump filed a lawsuit against the author of the book TrumpNation:</p>
        </div>

        <div class="item item-body">
            <img class="full-image" src="img/8.jpg">
            <h2>Donald Trump tried to sue an author for $5,000,000,000 because he called Trump a millionaire instead of a billionaire.</h2>            
            <p>
            In 2009, Trump filed a lawsuit against the author of the book TrumpNation: The Art of Being Donald, Timothy O’Brien, for $5 million. In the book the author cited three unnamed sources who estimated Trump’s net worth between $150 million and $250 million. However, the court ruled that Trump was not able to prove that the author committed “actual malice” and dismissed the defamation lawsuit. According to Trump’s lawyers, his own estimation has been “proven conclusively” to exceed $7 billion, yet during a deposition, he himself said that his sense of financial worth depends on his day-to-day feelings.
            </p>
        </div>

        </div>
    </ion-content>
</ion-view>