<ion-view view-title="Fact 2">
    <ion-content>
        <div class="list card">

        <div class="item item-avatar">
            <img src="img/2.jpg">
            <h2>In 1999, Trump proposed a one-time tax of 14.25% on individuals with networth $10</h2>
            <p>Trump said that according to his calculations, his tax plan would burden only 1 percent </p>
        </div>

        <div class="item item-body">
            <img class="full-image" src="img/2.jpg">
            <h2>In 1999, Trump proposed a one-time tax of 14.25% on individuals with networth $10 million or more and claimed that it would raise $5.7 trillion which can wipe out the national debt.</h2>            
            <p>
            Trump said that according to his calculations, his tax plan would burden only 1 percent of Americans who control 90 percent of the wealth, leaving the other 99 percent of the people with deep reductions on their federal income taxes. He also said that completely paying off national debt would save $200 billion a year in interest payments and that depositing $100 million annually in the Social Security trust fund would generate $3 trillion over the next 30 years.
            </p>
        </div>

        </div>
    </ion-content>
</ion-view>