<ion-view view-title="Fact 14">
    <ion-content>
        <div class="list card">

        <div class="item item-avatar">
            <img src="img/14.jpg">
            <h2>Donald Trump once tried to stop the building of a windfarm</h2>
            <p>Trump has repeatedly threatened to use his financial powers</p>
        </div>

        <div class="item item-body">
            <img class="full-image" src="img/14.jpg">
            <h2>Donald Trump once tried to stop the building of a windfarm in Scotland because it would ruin the view from his golf resort. </h2>            
            <p>
            Trump has repeatedly threatened to use his financial powers to oppose a wind turbine project because it ruins the view from his £750 million golf resort which also overlooks the North Sea. He even went on to threaten to pause the development of his second 18-hole golf course at the resort because the windfarm would decrease the financial viability of his resort. However, the Scottish ministers have chosen to ignore Trump’s threats and have given a green signal to the experimental windfarm.
            </p>
        </div>

        </div>
    </ion-content>
</ion-view>