<ion-view view-title="Fact 13">
    <ion-content>
        <div class="list card">

        <div class="item item-avatar">
            <img src="img/13.gif">
            <h2>Trump played a cameo in Home Alone 2: Lost in New York. </h2>
            <p>In the movie, there is a scene in which the character Kevin McCallister walks</p>
        </div>

        <div class="item item-body">
            <img class="full-image" src="img/13.gif">
            <h2>Trump played a cameo in Home Alone 2: Lost in New York. </h2>            
            <p>
            In the movie, there is a scene in which the character Kevin McCallister walks around the Plaza Hotel and then asks Trump where the front desk was. Trump responds to the question saying “Down the hall, to the left,” after which Kevin thanks him and walks off. The Plaza Hotel’s lobby in which one of the scenes takes place originally has Italian Ravenna tiled floors which were entirely covered with carpets. So, during the filming of the scene when Kevin slides down the floor into the elevator, the filmmakers asked Trump if they could remove the carpet. When the carpet was removed, Trump liked the tiles so much that he never had the carpet back again.
            </p>
        </div>

        </div>
    </ion-content>
</ion-view>