<ion-view view-title="Fact 17">
    <ion-content>
        <div class="list card">

        <div class="item item-avatar">
            <img src="img/17.jpg">
            <h2>Atlantic City, New Jersey, once tried to give the home</h2>
            <p>The husband of the retired homeowner of Atlantic City, Vera Coking,</p>
        </div>

        <div class="item item-body">
            <img class="full-image" src="img/17.jpg">
            <h2>Atlantic City, New Jersey, once tried to give the home of a retired woman to Trump using eminent domain so that he could build a parking lot for limousine. They later lost in court.</h2>            
            <p>
            The husband of the retired homeowner of Atlantic City, Vera Coking, bought the property at 127 South Columbia Place as a summertime retreat for $20,000 in 1961. Before Trump, she declined the offer of $1 million by a magazine publisher who wanted to build the Penthouse Boardwalk Hotel and Casino in the 1970s. In 1993, Donald Trump bought several lots around his Atlantic City casino and hotel in order to build a parking lot for limousines. But, Cooking refused to sell her property to him and was threatened the city using the power of eminent domain, which allows the government to take private property for public use. She fought the local authority with the help of Institute of Justice and was able to win the case.
            </p>
        </div>

        </div>
    </ion-content>
</ion-view>