<ion-view view-title="Fact 3">
    <ion-content>
        <div class="list card">

        <div class="item item-avatar">
            <img src="img/3.gif">
            <h2>Trump’s hair is real. He gets his haircuts from his wife Melania. </h2>
            <p>Trump has many attention-grabbing traits, and his hairstyle is one among them.</p>
        </div>

        <div class="item item-body">
            <img class="full-image" src="img/3.gif">
            <h2>Trump’s hair is real. He gets his haircuts from his wife Melania. </h2>            
            <p>
            Trump has many attention-grabbing traits, and his hairstyle is one among them. Apparently, many people have asked him about his hair and what he does to it. He told Playboy that all he does is take a shower, wash his hair, read the newspaper while it dries, comb it and spray it. He has stated that the reason his hair looks so neat all the time is because he doesn’t expose himself to outside environment, as he spends most of his time in his limousine, private jet, helicopter, or his private club, and that the only time he is outside is when he plays golf. And according to what he said to Playboy, his wife gives him his haircuts.
            </p>
        </div>

        </div>
    </ion-content>
</ion-view>