<ion-view view-title="Fact 16">
    <ion-content>
        <div class="list card">

        <div class="item item-avatar">
            <img src="img/16.jpg">
            <h2> Between 1996 and 2015, Trump owned part or all of the Miss Universe,</h2>
            <p>When Trump sold his interests, Trump owned the beauty</p>
        </div>

        <div class="item item-body">
            <img class="full-image" src="img/16.jpg">
            <h2> Between 1996 and 2015, Trump owned part or all of the Miss Universe, Miss USA and Miss Teen USA beauty pageants.</h2>            
            <p>
            When Trump sold his interests, Trump owned the beauty pageants and when he was dissatisfied how CBS scheduled his pageants he took both Miss Universe and Miss USA to NBC in 2002. Trump was also involved in some controversies regarding the pageants. When the 2006 winner of Miss USA was tested positive for cocaine, he let her keep the crown for the sake of giving her a second chance.

In 2015, NBC and Univision ended their business with Miss Universe organization because of his negative speech about Mexican immigrants in his presidential campaign. Trump later filed a $500 million lawsuit against Univision, alleging breach of contract and defamation. Later that year in September, he bought NBC’s stake and became the sole owner of Miss Universe Organization, but sold his interests to WME/IMG.
            </p>
        </div>

        </div>
    </ion-content>
</ion-view>